{% extends "layout.html" %}
{% block content %}
<div class="outer">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tell us who you are </legend>
                <div class="form-group">
                    {{ form.whoyouare.label(class="form-control-label") }}
                    {% if form.whoyouare.errors %}
                        {{ form.whoyouare(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.whoyouare.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.whoyouare(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-lg active") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            No profile you like? <a class="ml-2" href="{{ url_for('profile') }}">Create here</a>
        </small>
    </div>
</div>
{% endblock content %}